.nav{
    
    &__menu{
        list-style: none;

        &__item{
            display: inline-block;
            padding: 6rem 3rem;
            position: relative;
           
            .dropdown{
                display: none;
                position: absolute;
                top: 10rem;
            }

            &:hover {
                .dropdown {
                    display: block;
                }
            }
          
            &__link{
                text-decoration: none;
                color: $secondary-color;
                font-size: 1.8rem;
                transition: color .2s ease-in-out;
                -webkit-transition: color .2s ease-in-out;
                -moz-transition: color .2s ease-in-out;
                -ms-transition: color .2s ease-in-out;
                -o-transition: color .2s ease-in-out;
                
                &:hover{
                    color: #ffffff;
                    // +.dropdown{
                    //     display: block;
                    // }  
    
              }
              
            }
           
        }
    }
}
// .header .nav:nth-child(5){
//     display: none;
// }
.second{
    display: block;
    position: relative;
    top: 27.5rem;
    &__menu{
        display: none;
    border-radius:14px;
    -webkit-border-radius: 14px;
    -moz-border-radius:14px;
    -ms-border-radius:14px;
    -o-border-radius:14px;
    -webkit-border-radius:14px;
    //#160c6d75
    background-color:  #48474cd9;
    padding-bottom: 15px;
    &__item{
            //display: block;
            padding: 4rem 3rem 0;
            position: relative;
           
            // .dropdown{
            //     display: none;
            //     position: absolute;
            //     top: 10rem;
            // }

            // &:hover {
            //     .dropdown {
            //         display: block;
            //     }
            // }
          
            &__link{
                text-decoration: none;
                color: $secondary-color;
                font-size: 1.8rem;
                transition: color .2s ease-in-out;
                -webkit-transition: color .2s ease-in-out;
                -moz-transition: color .2s ease-in-out;
                -ms-transition: color .2s ease-in-out;
                -o-transition: color .2s ease-in-out;
                
                &:hover{
                    color: #ffffff;
                    // +.dropdown{
                    //     display: block;
                    // }  
    
              }
              
            }
           
        }
    }
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
.act{
    color: white;
}
@media (max-width:768px){
    .nav{
        display: none;
    }
    
}
@media (max-width:415px){
    .nav{
        display: none;
    }
}

@media (max-width:768px){
    .second{
        width: 100%;
        height: 50rem;
        display:block;
        &__menu{
            display: block;
            &__item{
                display: block;
            }
        }
       
    }
    
}
@media (max-width:415px){
    .second{
        width: 100%;
        height: 25rem;
        display:block;
        &__menu{
            display: block;
            &__item{
                display: block;
            }
        }
       
    }
    
}