@media (max-width:768px){
    .brands{
        display: block;
    &__item{
        width: 100%;
        text-align: center;
    
    }
}
}
@media (max-width:415px){
   
    .brands{
        display: block;
    &__item{
         width: 100%;
         text-align: center;
    
    }
}
}



