.slider {
  overflow: hidden;

  &__container {
     
    width: 300%;
    display: flex;

    &__content {
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
      border: 1px solid transparent;
      padding: 3rem;
      background-color: #ffffff;

      &__items {
        display: flex;
        margin-bottom: 2rem;
        img {
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
        &__item {
          margin-left: 2rem;
          h4 {
            font-size: 1.8rem;
            font-weight: 700;
            color: $darkpurble-color;
            margin: 2rem 0 1.5rem;
          }
          h5 {
            font-size: 1.6rem;
            font-weight: 300;
            color: #707070;
          }
        }
      }
      p {
        font-size: 2rem;
        line-height: 1.8;
        color: $darkpurble-color;
      }
    }

    
  }
  &__bullets {
    margin-top: 5rem;
    text-align: center;
    &__item {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color: rgba(108, 100, 177, 0.7);
      margin: 0 0.2rem;

      &:hover {
          transition: all .5s ease-in-out;
          cursor: pointer;
          background-color: $primary-color;
          -webkit-transition: all .5s ease-in-out;
          -moz-transition: all .5s ease-in-out;
          -ms-transition: all .5s ease-in-out;
          -o-transition: all .5s ease-in-out;
      }
    }
  }

}
//.slider__container .slider__bullets .second__bullet:hover .slider__container .first {
    
    //   transition: all 0.5s ease-in-out;
  
//   cursor: pointer;
//   background-color: $primary-color;
//   -webkit-transition: all 0.5s ease-in-out;
//   -moz-transition: all 0.5s ease-in-out;
//   -ms-transition: all 0.5s ease-in-out;
//   -o-transition: all 0.5s ease-in-out;
//   transform: translateX(-100%);
//   -webkit-transform: translateX(-100%);
//   -moz-transform: translateX(-100%);
//   -ms-transform: translateX(-100%);
//   -o-transform: translateX(-100%);
//}
